<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Add job description here...", size: "80x5" %>
  </div>
  <%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>